<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>14496866964-9irn5jtppm9o5lqsf1tvfrt0ig70n629.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.14496866964-9irn5jtppm9o5lqsf1tvfrt0ig70n629</string>
	<key>API_KEY</key>
	<string>AIzaSyBpF6vbKoSEo2c-OYkDkFKHe9ShrMZh6Qs</string>
	<key>GCM_SENDER_ID</key>
	<string>14496866964</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.StudyHub.Studeo</string>
	<key>PROJECT_ID</key>
	<string>studeo-deployment</string>
	<key>STORAGE_BUCKET</key>
	<string>studeo-deployment.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:14496866964:ios:ab0b8f1c441d03d40f0a81</string>
</dict>
</plist>