<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>663183286477-pefi5k8vj2mh8l253pave8bg6ak4vb8f.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.663183286477-pefi5k8vj2mh8l253pave8bg6ak4vb8f</string>
	<key>API_KEY</key>
	<string>AIzaSyCV7DkkQUx3_n6ytUlOIIo42C2SwmjIidE</string>
	<key>GCM_SENDER_ID</key>
	<string>663183286477</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.StudyHub.StudeoAi</string>
	<key>PROJECT_ID</key>
	<string>study-hub-7540b</string>
	<key>STORAGE_BUCKET</key>
	<string>study-hub-7540b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:663183286477:ios:0ab0f5a84310d0032bc984</string>
	<key>DATABASE_URL</key>
	<string>https://study-hub-7540b.firebaseio.com</string>
</dict>
</plist>